<!-- user header -->

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title> Tonight </title>
    <meta name="viewport" content="width=device-width", initial-scale="1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/app.css">
  </head>
  <body>
    <!-- <div class="ui container">
      <nav class="ui secondary right menu">
        <a href="/tonight/logout" class="item">
          Logout
        </a>
      </nav>
    </div> -->

    <div class="ui inverted segment">
      <nav class="ui inverted secondary pointing menu">
        <a href="/tonight/approved/access/home/" class="active item">
          Home
        </a>
        <a href="/tonight/movies" class="item">
          Movies
        </a>
        <a class="item">
          TV Series
        </a>
        <div class="right menu">
          <!-- the user variable is loaded from from req params -->
          <a href="/tonight/approved/access/"+user class="item">
            Welcome <%= user %>
          </a>
          <a href="/tonight/logout" class="item">
            Logout
          </a>
        </div>
      </nav>
    </div>
