<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title> Tonight </title>
    <meta name="viewport" content="width=device-width", initial-scale="1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.css">
    <link rel="stylesheet" href="/app.css">
  </head>
  <body>
    <div class="wrapper">
      <div class="ui container">
        <nav class="ui secondary menu">
          <a href="/tonight" class="item ">
            Home
          </a>
          <a href="/tonight/movies" class="item ">
            Movies
          </a>
          <a href="/tonight/tvseries" class="item">
            TV Series
          </a>
        </nav>
      </div>
