<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title> Tonight </title>
    <meta name="viewport" content="width=device-width", initial-scale="1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/app.css">

    </script>
  </head>
  <body>


    <div class="wrapper">
      <div class="ui inverted segment">
        <nav class="ui inverted secondary pointing menu">
          <div class="item">
            <i class="fa fa-headphones fa-3x"></i>

          </div>
          <a href="/tonight" class="item">
            <i class="fa fa-home"></i>
            Home
          </a>
          <a href="/tonight/movies" class="item ">
            Movies
          </a>
          <a href="/tonight/tvseries" class="item">
            TV Series
          </a>
          <div class="right menu">
            <a href="/tonight" class="item ">
              Sign Up
            </a>
            <a href="/tonight/login" class="item ">
              Login
            </a>
            <a href="/tonight/logout" class="item ">
              Logout
            </a>
          </div>
        </nav>
      </div>
      <script type="text/javascript" src="/main.js"> </script>
