 <% include partials/header.ejs %>

<div class="container">

  <h1> The landing Page </h1>

  <div class="ui placeholder segment">
    <div class="ui two column stackable center aligned full grid">
      <div class="ui vertical divider"> Or </div>
      <div class="middle aligned row">
        <div class="column">
          <div class="ui icon header">
            <a href="/tonight/movies">
            <i class="film icon">
              Movies
            </i>
          </a>
          </div>
        </div>
        <div class="column">
          <div class="ui icon header">
            <a href="/tonight/tvseries">
            <i class="tv icon">
            TV Series
            </i>
          </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<% include partials/footer.ejs %>
