<% include partials/header.ejs %>

<div class="ui container">
  <h1> The movies page </h1>


  <div>
    <h2> Mood </h2>
    <form class="" action="/tonight/movies/moviesresults" method="POST">
      <input type="radio" name="genre" value="35, 10749">
      <label> Easy </label>
      <input type="radio" name="genre" value="10751, 35, 12">
      <label> Uplifting </label>
      <input type="radio" name="genre" value="18, 53, 80">
      <label> Thrilling </label>
  </div>

  <!-- form that posts genres selected by user -->
  <h2> Genres </h2>
  <form class="" action="/tonight/movies/moviesresults" method="post">
      <div class="ui checkbox">
        <input type="checkbox" name="genre" value="12">
        <label> Adventure </label>
      </div>
      <div class="ui checkbox">
        <input type="checkbox" name="genre" value="28">
        <label> Action </label>
      </div>
      <div class="ui checkbox">
        <input type="checkbox" name="genre" value="18">
        <label> Drama </label>
      </div>
      <div class="ui checkbox">
        <input type="checkbox" name="genre" value="35">
        <label> Comedy </label>
      </div>
    <div class="ui checkbox">
      <input type="checkbox" name="genre" value="53">
      <label> Thriller </label>
    </div>
    <div class="ui checkbox">
      <input type="checkbox" name="genre" value="27">
      <label> Horror </label>
    </div>
    <div class="ui checkbox">
      <input type="checkbox" name="genre" value="10749">
      <label> Romance </label>
    </div>
    <div class="ui checkbox">
      <input type="checkbox" name="genre" value="10751">
      <label> Family </label>
    </div>
    <div class="ui checkbox">
      <input type="checkbox" name="genre" value="10402">
      <label> Music </label>
    </div>
    <div class="ui checkbox">
      <input type="checkbox" name="genre" value="80">
      <label> Crime </label>
    </div>
    <div class="ui checkbox">
      <input type="checkbox" name="genre" value="878">
      <label> Science Fiction </label>
    </div>
    <div class="ui checkbox">
      <input type="checkbox" name="genre" value="99">
      <label> Documentary </label>
    </div>
    <div>
    <button class="positive ui button"> Recommend A Movie ! </button>
    </div>
  </form>

<!-- displaying list of popular movies from the response by the api -->

  <h2> The most popular movies of this year 😇 </h2>
  <div class="ui medium images">
  <% data["results"].forEach(function(movie){ %>
    <a class="ui medium image" href="#"><%=movie.title;%>
      <img src="https://image.tmdb.org/t/p/original<%=movie.poster_path;%>" alt="poster image">
    </a>

  <% }); %>
  </div>


</div>
<% include partials/footer.ejs %>
