<% include partials/header.ejs %>

<div class="ui container">
  <h1> The movies page </h1>


    <h2> Mood </h2>
    <form class="" action="/tonight/movies/moviesresults" method="POST">
      <input type="radio" name="genre" value="35, 10749">
      <label> Easy </label>
      <input type="radio" name="genre" value="10751, 35, 12">
      <label> Uplifting </label>
      <input type="radio" name="genre" value="18, 53, 80">
      <label> Thrilling </label>

  <!-- form that posts genres selected by user -->
  <h2> Genres </h2>
  <form class="" action="/tonight/movies/moviesresults" method="post">
    <div class="genre-container">
      <ul class="ks-cboxtags">
        <li> <input type="checkbox" id="checkboxOne" name="genre" value="12">
          <label for="checkboxOne"> Adventure </label>
        </li>
        <li> <input type="checkbox" id="checkboxTwo" name="genre" value="28">
          <label for="checkboxTwo"> Action </label>
        </li>
        <li> <input type="checkbox" id="checkboxThree" name="genre" value="18">
          <label for="checkboxThree"> Drama </label>
        </li>
        <li> <input type="checkbox" id="checkboxFour"  name="genre" value="35">
          <label for="checkboxFour"> Comedy </label>
        </li>
        <li> <input type="checkbox" id="checkboxFive" name="genre" value="53">
          <label for="checkboxFive"> Thriller </label>
        </li>
        <li> <input type="checkbox" id="checkboxSix" name="genre" value="27">
          <label for="checkboxSix"> Horror </label>
        </li>
        <li> <input type="checkbox" id="checkboxSeven" name="genre" value="10749">
          <label for="checkboxSeven"> Romance </label>
        </li>
        <li> <input type="checkbox" id="checkboxEight" name="genre" value="10751">
          <label for="checkboxEight"> Family </label>
        </li>
        <li> <input type="checkbox" id="checkboxNine" name="genre" value="10402">
          <label for="checkboxNine"> Music </label>
        </li>
        <li> <input type="checkbox" id="checkboxTen" name="genre" value="80">
          <label for="checkboxTen"> Crime </label>
        </li>
        <li class="ks-selected"> <input type="checkbox" id="checkboxEleven" name="genre" value="878">
          <label for="checkboxEleven"> Science Fiction </label>
        </li>
        <li> <input type="checkbox" id="checkboxTwelve" name="genre" value="99">
          <label for="checkboxTwelve"> Documentary </label>
        </li>
      </ul>
    </div>
    <button class="positive ui button"> Recommend A Movie ! </button>
  </form>


<!-- displaying list of popular movies from the response by the api -->
  <h2> The most popular movies of this year 😇 </h2>
  <div class="ui link cards">
  <% data["results"].forEach(function(movie){ %>
    <a class="card" href="/tonight/movies/show/<%=movie.id %>">
      <div class="image">
        <img src="https://image.tmdb.org/t/p/original<%=movie.poster_path;%>" alt="poster image">
      </div>
      
    </a>


  <% }); %>
    </div>
  </div>



<% include partials/footer.ejs %>
