<% include partials/header.ejs %>

<h1> The movies page </h1>

<a href="/tonight/movieresults"> Recommend A Movie ! </a>
<div>
<a href="/tonight"> Filter </a>
</div>
<h3> The most popular movies of this year 😇 </h3>
<% data["results"].forEach(function(movie){ %>
  <p><%=movie.title;%></p>
<% }); %>

