<% include partials/header.ejs %>
  <div class="ui container">
    <h1> Your movie is 😇 </h1>
    <div>
    <% data["results"].forEach(function(movie){ %>
      <p><%=movie.title;%></p>
    <% }); %>
    </div>
  </div>
<% include partials/footer.ejs %>
