<% include partials/header %>

<div class=" ui container">
  <img class="ui medium image" src="https://image.tmdb.org/t/p/original<%=movieContent.poster_path;%>" alt="poster image">
  <p> <%= movieContent.title %> </p>
</div>
<% include partials/footer %>
