<% include partials/header.ejs %>

<div class="ui container">
<h1> The TV Series Page </h1>

<a href="/tonight/tvseries/tvresults"> </a>
<h2> Mood </h2>
<div>
  <form class="" action="/tonight/tvseries/tvresults" method="POST">
    <input type="checkbox" name="genre" value="35, 10749">
      <label> Easy </label>
    <input type="checkbox" name="genre" value="10751, 35, 12">
    <label> Uplifting </label>
    <input type="checkbox" name="genre" value="18, 53, 80">
    <label> Thrilling </label>
</div>
<h2> Genres </h2>
<form class="" action="/tonight/moviesresults" method="post">
    <div>
  <input type="checkbox" name="genre" value="10759">
  <label> Action & Adventure </label>
  <input type="checkbox" name="genre" value="18">
  <label> Drama </label>
  <input type="checkbox" name="genre" value="35">
  <label> Comedy </label>
  <input type="checkbox" name="genre" value="10762">
  <label> Kids </label>
  <input type="checkbox" name="genre" value="16">
  <label> Animation </label>
  <input type="checkbox" name="genre" value="10764">
  <label> Reality </label>
  <input type="checkbox" name="genre" value="10765">
  <label> Sci-Fi & Fantasy </label>
  <input type="checkbox" name="genre" value="10751">
  <label> Family </label>
  <input type="checkbox" name="genre" value="10767">
  <label> Talk </label>
  <input type="checkbox" name="genre" value="9648">
  <label> Crime </label>
  <input type="checkbox" name="genre" value="80">
  <label> Mystery </label>
  <input type="checkbox" name="genre" value="10768">
  <label> War & Politics </label>
  <input type="checkbox" name="genre" value="19">
  <label> Documentary </label>
</div>
<div>
<button class="positive ui button"> Recommend A TV Series !  </button>
</div>
</form>


<h2> Most popular on TV </h2>
<div class="ui medium images">
  <% data["results"].forEach(function(tvs){ %>
    <a class="ui medium image" href="#"> <%=tvs.name;%>
      <img src="https://image.tmdb.org/t/p/original<%=tvs.poster_path;%>" alt="poster image">
    </a>
  <% }); %>
</div>

</div>

<% include partials/footer.ejs %>
