<% include ../partials/header %>
<h1> Welcome <%=user["username"]%> </h1>

<div class=" ui container">
  <div class="ui header"> Specially curated movies for you</div>
  <div class="ui link cards">

    <% if (recommendedMovies["results"] != null){ %>

    <% recommendedMovies["results"].forEach(function(movie) { %>
    <a class="card" href="/tonight/approved/access/home/show/<%= movie.id %>">
    <div class="image">
  <img src="https://image.tmdb.org/t/p/original<%=movie.poster_path;%>" alt="poster image">
</div>
  <div class="content">
    <div class="header">
      <p> <%= movie.title %> </p>
</div>
</div>
</a>
  <% }); %>
<% } %>
</div>




</div>
<% include ../partials/footer %>
