<% include ../partials/header %>

<div class=" ui container">
  <h1 class="ui pink header"> Specially curated movies for you </h1>
  <div class="ui link cards">

    <% if (recommendedMovies["results"] != null){ %>

    <% recommendedMovies["results"].forEach(function(movie) { %>
    <a class="card" href="/tonight/approved/access/<%= user %>/show/<%= movie.id %>">
    <div class="image">
  <img src="https://image.tmdb.org/t/p/original<%=movie.poster_path;%>" alt="poster image">
</div>
</a>
  <% }); %>
<% } %>
</div>




</div>
<% include ../partials/footer %>
